* {
	font-family: "Comic Sans MS", "Comic Sans";
	margin: 0px;
	font-size: 16px;
	box-sizing: border-box;
}

body {
	margin: 0px 50px;
}

h1 {
	font-size: 175%;
	text-align: center;
	margin: 40px;
	font-weight: bold;
}

h2 {
	font-size: 125%;
	text-align: center;
	font-weight: bold;
}

.container-fluid {
	margin: 20px;
}

.card-container {
	padding: 10px;
}

.menu-card {
	background-color: grey;
	border:solid 1px;
}

.title-box {
	padding: 5px;
	width: 200px;
	float: right;
	position: relative;
	top: -1px;
	right: -1px;
	border:solid black 1px;
}

#title-chicken {
	background-color: pink;
}

#title-beef {
	background-color: red;
	color: white;
}

#title-sushi {
	background-color: yellow;
}

p {
	clear: right;
	margin: 10px;
}

@media (min-width: 992px) {
	.card-container {
		float: left;
		width: 33%;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	.card-container {
		float: left;
		width: 50%;
	}

	.card-container:last-child:nth-child(odd) {
		width: 100%;
	}

}
